/* The sidebar menu */

#login_bar {
    background-color: #343434;
}

#login_bar a {
    color: #33a2ff;
    padding-left: 20px;
}

#login_name {
    color: white;
}

.sidenav {
    height: 100%;
    width: 220px; /* width of sidebar */
    position: fixed; /* Fixed Sidebar */
    z-index: 1;
    left: 0;
    background-color: #2f2f2f;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #969696;
    display: block;
}

/* When you mouse over the navigation links, change their color without underline*/
.sidenav a:hover {
    color: #bfbfbf;
    text-decoration: none;
}

/* Style page content */
.main {
    margin-left: 120px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.container {
	display: flex;
    flex-direction: row;
}

/*  Marketplace  */

.main .img-thumbnail{
	width: 100%;
	height: 200px;
    box-shadow:hsl(0, 0%, 60%) 0 0 8px;
}

.box-element{
	box-shadow:hsl(0, 0%, 60%) 0 0 8px;
}

/*  Basket  */

.row {
    width: 100%;
}

.row .basket-row{
	display: flex;
    border-bottom: 1px solid #ececec;
}

.basket-arrow{
	width: 12px;
	cursor: pointer;
	display: block;
}
