{% extends "base.html" %}
{% load static %}
{% block footer %}
    <script>
        // open collapse when designated in hash
        window.onload = function () {
            if (location.hash)
                $('#product_details-' + location.hash.substr(1)).collapse()
        }

        // Only open one collapse at a time
        $('button').click(function (e) {
            $('.collapse').collapse('hide');
        });
    </script>

    <script type="text/javascript" src="{% static "js/basket.js" %}"></script>
{% endblock %}
{% block content %}


    <div class="row" id="productGroup">
        <!--<div class="card container-fluid text-white bg-secondary my-5 py-4 text-center">
            <div class="collapse" id="product_details">
                <div class="card card-body">
                    <p class="text-white m-0">
                    <div>Image</div>
                    <div>Name</div>
                    <div>Description</div>
                    <div>Price</div>
                    <div>Count</div>
                    </p>
                </div>
            </div>
        </div>-->
        {% for product in products %}
            <div class="col-lg-4 mb-4 mt-1">
                <img class="img-thumbnail" src="{{ product.image }}">
                <div class="box-element mt-1 p-2">
                    <strong>{{ product.name }}</strong>
                    <b class="text-muted" style="float: right">${{ product.price }}</b>

                    <div class="collapse" id="product_details-{{ product.slug }}">
                        <div class="card card-body">
                            <p class="text-white">
                            <div>{{ product.description }}</div>
                            <hr>
                            <div>Currently available: {{ product.count }}</div>
                            </p>
                        </div>
                    </div>

                    <hr class="mt-2 mb-3">
                    <button data-toggle="collapse" data-parent="#productGroup"
                            data-target="#product_details-{{ product.slug }}"
                            aria-expanded="false" class="btn btn-info">
                        Details
                    </button>
                    <button onclick="addbasket('{{ product.slug }}')" class="btn btn-outline-success">Add to Basket
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
