{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Analytics -->
    <script type="text/javascript">
        // library setup
        //window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        // create a tracker
        //ga('create', 'UA-XXXXX-Y', 'auto');
        // send a page view commmand to the command queue.
        //ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <link rel="stylesheet" href="{% static 'css/nicest_ecommerce.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id"
          content="7641991400-s26aepc1u29217cleq028fl74l044cru.apps.googleusercontent.com">
    <title>{% block title %}Thin Air E-Commerce{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-default" id="login_bar">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if user.is_authenticated %}
                <span id="login_name"><b>Logged in as {{ user.username }}</b></span>
                <a href="#">Account</a>
                <a href="{% url 'logout' %}" onclick="signOut()">Logout</a>
                <a style="float:right" href="{% url 'basket-default' %}" role="button"
                   class="btn-sm btn-outline-dark pt-auto ml-2">
                    <span id="baskettotal">{% if total %}{{ total }}{% endif %}</span> $ &#x2000;
                    <svg width="16px" height="16px" viewBox="0 2 16 16" class="bi bi-basket-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                    </svg>
                </a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'registration' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Side navigation -->
<div class="sidenav">
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'product_list' %}">Marketplace</a>
</div>


<!-- Page content -->
<div class="main">
    <div class="row mt-4 justify-content-center">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-9">
            {% block headerText %}
                <h1 class="mt-2">Thin Air LTD E-Commerce</h1>
                <h3 class="text-muted"> the shop where you are going to be ripped of</h3>
            {% endblock %}
            <hr class="mt-0 mb-4">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="{% static "js/basket.js" %}"></script>
{% block footer %}
{% endblock %}

</body>
</html>
