{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/nicest_ecommerce.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
    <meta name="google-signin-client_id"
          content="7641991400-s26aepc1u29217cleq028fl74l044cru.apps.googleusercontent.com">
    <title>{% block title %}Thin Air E-Commerce{% endblock %}</title>
</head>

<body>

<nav class="navbar navbar-default" id="login_bar">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if user.is_authenticated %}
                <span id="login_name"><b>Logged in as {{ user.username }}</b></span>
                <a href="#">Account</a>
                <a href="{% url 'logout' %}" onclick="signOut()">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'registration' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Side navigation -->
<div class="sidenav">
    <a href="{% url 'index' %}">Home</a>
</div>


<!-- Page content -->
<div class="main">
    <div class="row mt-4 justify-content-center">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-9">
            <h1 class="mt-2">Thin Air LTD E-Commerce</h1>
            <h3 class="text-muted"> the shop where you are going to be ripped of</h3>
            <hr class="mt-0 mb-4">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</div>


</body>
</html>
