{% extends "base.html" %}
{% block content %}
    <script>
        function onSignIn(gUser) {
            var id_token = gUser.getAuthResponse().id_token;
            // XHR POST request to endpoint handling the id_token (i.e. verify token, create user for id, login)
            console.log(id_token);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/accounts/sso-login');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                console.log('Signed in as: ' + xhr.responseText);
                if (!xhr.responseText.includes('Error'))
                    window.location.href="../../"
            };
            xhr.send('idtoken=' + id_token);
        }
    </script>

    <div class="content-section">
        <form class="login" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="container">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <div class="form-group">
                    <button class="btn btn-outline-info ml-3" type="submit">Login</button>
                </div>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'registration' %}">Register Now</a>
                | <a class="ml-3" href="{% url 'reset-pw-req' %}">Forgot password?</a>
            </small>
        </div>
    </div>

{% endblock content %}
